@using WebsitePanel.WebDav.Core
@using WebsitePanel.WebDav.Core.Client
@using WebsitePanel.WebDav.Core.Config
@using WebsitePanel.WebDavPortal.FileOperations
@using Ninject;
@using WebsitePanel.WebDavPortal.UI.Routes
@model IHierarchyItem
  
@{
    string actualPath = Model.ItemType == ItemType.Folder ? "~/Content/Images/folder_100x100.png" : WebDavAppConfigManager.Instance.FileIcons[Path.GetExtension(Model.DisplayName.Trim('/'))];
    string name = Model.DisplayName.Trim('/');
    var opener = new FileOpenerManager()[Path.GetExtension(Model.DisplayName)];
    bool isTargetBlank;
    string href = "/";
    switch (opener)
    {
        case FileOpenerType.OfficeOnline:
            isTargetBlank = true;
            var pathPart = Model.Href.AbsolutePath.Replace("/" + WspContext.User.OrganizationId, "");
            href = string.Concat(Url.RouteUrl(FileSystemRouteNames.ShowOfficeOnlinePath, new { org = WspContext.User.OrganizationId, pathPart = "" }), pathPart);
            break;
        default:
            isTargetBlank = false;
            href = Model.Href.AbsolutePath; 
            break;
    }
}
<div class="col-sm-2 element-container">
    <a href="@href" @Html.Raw(isTargetBlank ? "target=\"_blank\"" : string.Empty) title="@name">
        <img class="icon-size" src="@Url.Content(actualPath)" />
        <p style="word-wrap: break-word;">@name</p>
    </a>
</div>